<% include header %>
<div class="row">
    <div class="large-12 column">
        <h2>There was an error with our system.</h2>
        <p><strong>Message:</strong> <%= serverError %></p>
    </div>
</div>
<% include script %>
<% include footer %>