<% include header %>
<div class="container">
    <div class="col-md-12">
        <h2>Connecting Professional Musicians and Clients</h2>
        <p class="lead">The Working Musician is a community of musicians who work in a professional capacity either part or full time. Session artists, instructors, solo artists, and weekend warriors are here and ready to connect with other musicians and clients in a professional environment. All our accounts are reviewed and vetted, and you'll have the opportunity to contact your choices directly once you've found a good fit. Signup is free and gives you access to our full roster.</p>
    </div>
    <div class="col-md-4">
        <h4>Hire Performers and Teachers</h4>
        <p>Find talent for a clinic or your own personal instruction. Connect with solo artists for weddings and events, or your own private party. Our site allows you to vet talent based on your needs, then contact them personally to complete the interview.</p>
    </div>
    <div class="col-md-4">
        <h4>Find New Band Members</h4>
        <p>Looking for a backup drummer or a new vocalist? Help expand or fill out your group's roster by finding local musicians in your area who meet your criteria. Specify travel requirements, commitment, style and skill level up-front.</p>
    </div>
    <div class="col-md-4">
        <h4>Find Session Artists</h4>
        <p>Put together talent for radio spots, soundtracks, and publishing work. You can search based on skill level, genre, vocal range, and other factors to quickly find the right people to get the job done.</p>
    </div>
    <div class="col-md-12">
        <h3>Real Clients, Real Professionals</h3>
        <p>Our clients understand that musicians don't make a living working for free. Our musicians understand that clients expect a high level of professionalism, reliability, and talent for their money. Real ratings, profile view counts, and personal contact with talent give our community the tools needed to connect clients and talent easily and quickly.</p>
    </div>
    <div class="col-md-12">
        <h3>No Cost or Obligations</h3>
        <p>There's no credit card or phone number required. Use the service once, or daily. We're here to connect people. Creating a profile takes only a few minutes for the typical musician, even less if you're a client looking for talent. Don't like the service? Delete your account with no hassle.</p>
    </div>
</div>
<% include script %>
<% include footer %>