<% include ../static/header %>
<div class="row">
    <div class="large-12 columns">
        <h3>Manage Profile Image</h3>
        <form method="post" role="form" enctype="multipart/form-data">
            <div class="row">
                <div class="large-12 columns">
                    <label>Select Image
                        <input type="file" name="profileImage">
                    </label>
                </div>
                <div class="large-12 columns">
                    <input type="submit" class="button" value="Upload">
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../static/script %>
<% include ../static/footer %>