<% include ../static/header %>
<div class="row">
    <div class="large-12 columns">
        <h3>Profile Deleted</h3>
        <p>We're sorry to see you go! Your profile will no longer be viewable and you will not be able to login. If you change your mind, you'll be able to create a new account at any time.</p>
    </div>
</div>
<% include ../static/script %>
<% include ../static/footer %>