<% include ../static/header %>
<div class="container">
    <div class="col-md-12">
        <h3>Update Profile</h3>
    </div>
</div>
<form method="post" role="form">
    <div class="container">
        <div class="col-md-6">
            <% include ../form_components/input_firstname %>
        </div>
        <div class="col-md-6">
            <% include ../form_components/input_lastname %>
        </div>
        <div class="col-md-4">
            <% include ../form_components/input_city %>
        </div>
        <div class="col-md-4">
            <% include ../form_components/select_state %>
        </div>
    </div>
    <div class="container">
        <% if(application.formData.availability) { %>
        <div class="col-md-4">
            <% include ../form_components/select_availability %>
        </div>
        <% } %>
        <% if(application.formData.profession) { %>
        <div class="col-md-4">
            <% include ../form_components/select_profession %>
        </div>
        <% } %>
        <% if(application.formData.travel) { %>
        <div class="col-md-4">
            <% include ../form_components/select_travel %>
        </div>
        <% } %>
    </div>
    <div class="container">
        <% if(application.formData.genres) { %>
        <div class="col-md-4">
            <% include ../form_components/select_genres %>
        </div>
        <% } %>
        <% if(application.formData.vocals) { %>
        <div class="col-md-4">
            <% include ../form_components/select_vocals %>
        </div>
        <% } %>
        <% if(application.formData.instruments) { %>
        <div class="col-md-4">
            <% include ../form_components/select_instruments %>
        </div>
        <% } %>
    </div>
    <div class="container">
        <div class="col-md-12">
            <% include ../form_components/file_profile_picture %>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-default" value="Update Profile">
            </div>
        </div>
    </div>
</form>
<% include ../static/script %>
<% include ../static/footer %>